<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>博客新增</title>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">
    <!--markdown插件的css-->
    <link href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}" rel="stylesheet">
    <!--引用自定义的css-->
    <link href="../../static/css/me.css" th:href="@{/css/me.css}" rel="stylesheet">
</head>
<body>
<!--导航)-->
<nav th:replace="admin/_fragments :: adminnav(0)" class="ui inverted attached segment m-padded-td-mini m-shadow" >
    <div class="ui container">
        <!--stackable 可堆叠的，屏幕宽度不够时会自动上下叠起来-->
        <div class="ui inverted secondary menu stackable">
            <h2 class="ui green header item">管理后台</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class=" home icon"></i>博客</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="  idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
            <div class="right menu m-item m-mobile-hide">
                <div class="ui dropdown item">
                    <div >
                        <img src="https://picsum.photos/id/1001/100/100" class="ui image avatar">
                        <span>Tom</span>
                        <span style="display: none" data-value=1 id="adminId">1</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu"><a href="#" class="item">注销</a></div>
                </div>
            </div>
        </div>
    </div>
    <a href="#"  class="ui black icon button m-top-right m-mobile-show menu toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--二级导航-->
<div class="ui menu attached pointing">
    <div  class="ui container ">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogs/add}" class="active teal item">新增</a>
            <a href="#" th:href="@{/admin/blogs}"class="item teal">列表</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div class=" m-container m-padded-td-large">
    <div class="ui container ">
        <form id="blog-form" action="#" th:action="@{/admin/blogs/add}" method="post" class="ui form">
            <input type="hidden" name="published">
            <input type="hidden" name="blogAdminId">
            <div class=" required field">
                <div class="ui left labeled input">
                    <div class="ui selection dropdown label teal basic compact">
                        <input type="hidden"  name="source">
                        <i class="dropdown icon"></i>
                        <div class="default text">原创</div>
                        <div class="menu">
                            <div class="item" data-value="原创" th:data-value="原创">原创</div>
                            <div class="item" data-value="转载" th:data-value="转载">转载</div>
                            <div class="item" data-value="翻译" th:data-value="翻译">翻译</div>
                        </div>
                    </div>
                    <input  type="text" name="title" placeholder="标题">
                </div>
            </div>
            <div class="field">
                <div id="md-content" style="z-index: 1 !important;">
                    <textarea placeholder="博客内容" name="content" style="display: none"></textarea>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <div class="ui left labeled input">
                        <label class="ui compact teal basic label" >分类</label>
                        <div class="ui selection fluid dropdown">
                            <input type="hidden" name="blogTypeId">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.getId()}" th:text="${type.getName()}">错误日志</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left labeled input">
                        <label class="ui compact teal basic label" >标签</label>
                        <div class="ui selection fluid dropdown multiple search">
                            <input type="hidden" name="blogTagId">
                            <i class="dropdown icon"></i>
                            <div class="default text">标签</div>
                            <div class="menu">
                                <div th:each="tag : ${tags}" class="item" data-value="1" th:data-value="${tag.getId()}" th:text="${tag.getName()}">错误日志</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">首图</label>
                    <input type="text" name="picUrl" placeholder="首图引用地址">
                </div>

            </div>
            <div class="fields inline">
                <div class="field">
                    <div class="ui checkbox ">
                        <input class="hidden" type="checkbox" name="recommend" id="recommend" value="true">
                        <label for="recommend">是否推荐到首页</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input class="hidden" type="checkbox" name="copyright" id="copyright" value="true">
                        <label for="copyright">是否转载</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input class="hidden" type="checkbox" name="appreciation" id="appreciation" value="true">
                        <label for="appreciation">是否显示赞赏</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input class="hidden" type="checkbox" name="comment" id="comment" value="true">
                        <label for="comment">是否开放留言</label>
                    </div>
                </div>
            </div>
            <div class="ui right aligned container">
                <button class="ui button" type="button" onclick="window.history.go(-1)">返回</button><!-- onclick="window.history.go(-1)" 意为点击时返回上一个页面-->
                <button class="ui button secondary" type="button" id="save-but">保存</button>
                <button class="ui button teal" type="button" id="publish-but">发布</button>
            </div>
            <div class="ui error message"></div>
            <!--/*/
            <div class="ui negative message" th:if="${#fields.hasErrors('title')}">
                <i class="close icon"></i>
                <div class="header">操作失败</div>
                <p th:errors="*{title}">提交信息不合规</p>
            </div> /*/-->
        </form>
    </div>
</div>

<br>
<br>
<br>
<!--底部-->
<footer  th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-td-max">
    <div class="ui center aligned container">
        <!--semantic UI 将一个块划分为16份,divided属性是每列间的分割线 grid布局组件-->
        <div class="ui  inverted divided stackable grid">
            <!--一个column是一列，共分为4列-->
            <div class="three wide column ">
                <div class="ui inverted   link item">
                    <div class="item ">
                        <img src="../../static/images/20200515232857.jpg" class=" ui rounded image centered aligned" style="width: 100px ">
                    </div>
                </div>
            </div>
            <div class="three wide column ">
                <h4 class="ui inverted header ">最新博客</h4>
                <div class="ui inverted link list">
                    <a href ="#" class="item">小米10 Pro</a>
                    <a href ="#" class="item">MIUI 12</a>
                    <a href ="#" class="item">超级壁纸</a>
                </div>
            </div>
            <div class="three wide column ">
                <h4 class="ui inverted header m-opacity-mini">最新博客</h4>
                <div class="ui inverted link list">
                    <a href ="#" class="item">小米10 Pro</a>
                    <a href ="#" class="item">MIUI 12</a>
                    <a href ="#" class="item">超级壁纸</a>
                </div>
            </div>
            <div class="seven wide column ">
                <h4 class="ui inverted header">最新博客</h4>
                <p>中新网客户端北京5月13日电(记者 李金磊)2020年养老金上涨进入落地期</p>
            </div>
        </div>
        <div class="ui inverted section divider">
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Designed, developed, and maintained by:</p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--markdown插件js-->
<script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
<script th:inline="javascript">
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown();

    var adminId = [[${session.admin.getId()}]]; // th:inline表示thymeleaf中的内联（即在javascript访问model中的数据）就能获取session中的值了
    $('#save-but').click(function () {
        $('[name="published"]').val(false);
        $('[name="blogAdminId"]').val(adminId);
        $('#blog-form').submit();
    });
    $('#publish-but').click(function () {
        $('[name="published"]').val(true);
        $('[name="blogAdminId"]').val(adminId);
        $('#blog-form').submit();
    });

    //表单校验
    $('.ui.form').form({
        fields :{
            title : {
                identifier : 'title',
                rules :[{
                    type :'empty',
                    prompt :'请输入博客标题'
                }]
            },
            content : {
                identifier : 'content',
                rules :[{
                    type :'empty',
                    prompt :'请输入博客内容'
                }]
            },
            blogTypeId : {
                identifier : 'blogTypeId',
                rules :[{
                    type :'empty',
                    prompt :'分类不能为空'
                }]
            },
            blogTagId : {
                identifier : 'blogTagId',
                rules :[{
                    type :'empty',
                    prompt :'标签不能为空'
                }]
            },
            picUrl : {
                identifier : 'picUrl',
                rules :[{
                    type :'empty',
                    prompt :'首图引用地址不能为空'
                }]
            }
        }
    });

    //markdown初始化
    var contentditor;
    $(function() {
        contentditor = editormd("md-content", {
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
            //lib的路径要正确，不然插件无法工作
            path    : "/lib/editormd/lib/"                     // 动态访问路径
            // path    : "../static/lib/editormd/lib/"        // 静态访问路径
        });});

    // 消息提示框关闭
    $('.message .close').click(function () {
        $(this).closest('.message').transition('fade');
    });
</script>
</body>
</html>