<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>博客列表</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!--引用自定义的css-->
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>
<!--导航)-->
<nav th:replace="admin/_fragments :: adminnav(1)" class="ui inverted attached segment m-padded-td-mini m-shadow" >
    <div class="ui container">
        <!--stackable 可堆叠的，屏幕宽度不够时会自动上下叠起来-->
        <div class="ui inverted secondary menu stackable">
            <h2 class="ui green header item">管理后台</h2>
            <a href="#" class=" m-item item m-mobile-hide"><i class=" home icon"></i>博客</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="  idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
            <div class="right menu m-item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://picsum.photos/id/1001/100/100" class="ui image avatar">
                        Tom
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu"><a href="#" class="item">注销</a></div>
                </div>
            </div>
        </div>
    </div>
    <a href="#"  class="ui black icon button m-top-right m-mobile-show menu toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui menu attached pointing">
    <div  class="ui container ">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogs/add}" class=" teal item">新增</a>
            <a href="#" th:href="@{/admin/blogs}"class="active item teal">列表</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div class=" m-container-blog m-padded-td-large">
    <div class="ui container ">
        <div class="ui negative message" th:unless="${#strings.isEmpty(failMessage)}" >
            <i class="close icon"></i>
            <div class="header">提示</div>
            <p th:text="${failMessage}">ok</p>
        </div>
        <div class="ui success message" th:unless="${#strings.isEmpty(succMessage)}" >
            <i class="close icon"></i>
            <div class="header">提示</div>
            <p th:text="${succMessage}">ok</p>
        </div>
        <div class="ui secondary segment form">
            <input type="hidden" name="page">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>
                <div  class="field">
                    <div class="ui labeled action input">
                        <div class="ui type selection dropdown">
                            <!--隐藏的输入框来承接下拉选中的值，数据可以选择初始化页面时加载，也可以ajax在点击的时候加载，数据少使用前者-->
                            <input type="hidden" name="typeId">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div th:each="type : ${types}"  class="item" data-value="2" th:data-value="${type.getId()}" th:text="${type.getName()}">Java</div>
                            </div>
                        </div>
                        <button id="clear" class=" ui  button compact">clear</button>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="recommend" id="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button type="button" id="search-but" class="ui button mini teal basic"><i class="icon search"></i>搜索</button>
                </div>
            </div>
        </div>
        <div id="table-content">
            <!--BlogController.search 查询结果返回于此-->
            <table th:fragment="blogList" class="ui compact table">
                <thead>
                <tr>
                    <th></th><!--序列号-->
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>状态</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog,iterStat : ${page.getList()}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${blog.getTitle()}">刻意联系清单</td>
                    <td th:text="${blog.getTypeName()}">认知提升</td>
                    <td th:text="(${blog.getRecommend()} eq 'on') ? '是' : '否'">是</td>
                    <td th:text="(${blog.getPublished()} eq 'on') ? '发布' : '草稿'">否</td>
                    <td th:text="${blog.getUpdateDate()}">20200520</td>
                    <td>
                        <a href="#" th:href="@{/admin/blogs/{id}/edit(id=${blog.getId()})}" class="ui mini basic teal button">编辑</a>
                        <!--<a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.getId()})}" class="ui mini basic red button">删除</a>-->
                        <input type="hidden" name="delete_but">
                        <button  onclick="deleteBlog(this)" class="ui mini basic red button" th:attr="data-id=${blog.getId()}">删除</button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="7"><!--合并单元格-->
                        <div class="ui mini pagination menu" th:if="${page.getPages()>1}">
                            <a class=" item" onclick="page(this)" th:attr="data-page=${page.getPageNum()} -1" th:if="${page.isHasPreviousPage()}">上一页</a>
                            <a class=" item" onclick="page(this)" th:attr="data-page=${page.getPageNum()} +1" th:if="${page.isHasNextPage()}">下一页</a>
                        </div>
                        <a href="#" th:href="@{/admin/blogs/add}" class="ui  mini right floated teal basic button">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<!--底部-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-td-max">
    <div class="ui center aligned container">
        <!--semantic UI 将一个块划分为16份,divided属性是每列间的分割线 grid布局组件-->
        <div class="ui  inverted divided stackable grid">
            <!--一个column是一列，共分为4列-->
            <div class="three wide column ">
                <div class="ui inverted   link item">
                    <div class="item ">
                        <img src="../../static/images/20200515232857.jpg" class=" ui rounded image centered aligned" style="width: 100px ">
                    </div>
                </div>
            </div>
            <div class="three wide column ">
                <h4 class="ui inverted header ">最新博客</h4>
                <div class="ui inverted link list">
                    <a href ="#" class="item">小米10 Pro</a>
                    <a href ="#" class="item">MIUI 12</a>
                    <a href ="#" class="item">超级壁纸</a>
                </div>
            </div>
            <div class="three wide column ">
                <h4 class="ui inverted header m-opacity-mini">最新博客</h4>
                <div class="ui inverted link list">
                    <a href ="#" class="item">小米10 Pro</a>
                    <a href ="#" class="item">MIUI 12</a>
                    <a href ="#" class="item">超级壁纸</a>
                </div>
            </div>
            <div class="seven wide column ">
                <h4 class="ui inverted header">最新博客</h4>
                <p>中新网客户端北京5月13日电(记者 李金磊)2020年养老金上涨进入落地期</p>
            </div>
        </div>
        <div class="ui inverted section divider">
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Designed, developed, and maintained by:</p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown();

    function deleteBlog(obj) {
        var b = confirm("确定要删除这篇博客吗？");
        if (b == true) {
            $("[name='delete_but']").val($(obj).data("id"));
            var  id = $("[name='delete_but']").val();
            $.get(/*[[@{/admin/blogs/delete}]]*/"/admin/blogs/delete",
                {id : id},
                function (data) {
                    if (data == "succ") {
                        alert("删除成功");
                        location.reload(); //重新加载当前页面一次，相当于页面的刷新按钮，同重定向的效果。如果和编辑按钮一样，通过thymeleaf的标签
                    } else {
                        alert("删除失败");
                    }                               //th:href 进行删除，Controller返回的页面重定向（ "redirect:/admin/blogs" ）会直接刷新页面，现在增加了删除
                });                                   //前确认，通过js发送请求进行删除，返回的重定向后的页面在 data 中，当前页面不会自动刷新，所以就需要添加
        }                                             //回调函数来刷新页面，效果一样
    }

    $("#search-but").click(function () {
        $("[name='page']").val(0);
        sendReq();
    });

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        sendReq();
    }

    // load 会根据参数类型来决定发送GET还是POST请求，参数字符串为GET，对象则为POST
    function sendReq() {
        $("#table-content").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search", {
            title : $("[name='title']").val(),
            typeId : $("[name='typeId']").val(),
            recommend : $("[name='recommend']").prop('checked'),
            page : $("[name='page']").val()
        });
    }

    // 消息提示框关闭
    $('.message .close').click(function () {
        $(this).closest('.message').transition('fade');
    });

    $('#clear').on('click', function () {
        $('.type.dropdown').dropdown('clear');
    });
</script>
</body>
</html>