<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>增加分类</title>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">
    <!--markdown插件的css-->
    <link href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}" rel="stylesheet">
    <!--引用自定义的css-->
    <link href="../../static/css/me.css" th:href="@{/css/me.css}" rel="stylesheet">
</head>
<body>
<!--导航)-->
<nav th:replace="admin/_fragments :: adminnav(0)" class="ui inverted attached segment m-padded-td-mini m-shadow" >
    <div class="ui container">
        <!--stackable 可堆叠的，屏幕宽度不够时会自动上下叠起来-->
        <div class="ui inverted secondary menu stackable">
            <h2 class="ui green header item">管理后台</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class=" home icon"></i>博客</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="  idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
            <div class="right menu m-item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://picsum.photos/id/1001/100/100" class="ui image avatar">
                        Tom
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu"><a href="#" class="item">注销</a></div>
                </div>
            </div>
        </div>
    </div>
    <a href="#"  class="ui black icon button m-top-right m-mobile-show menu toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--二级导航-->
<div class="ui menu attached pointing">
    <div  class="ui container ">
        <div class="right menu">
            <a href="#" class="item">发布</a>
            <a href="#" class="active item teal">列表</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div class=" m-container m-padded-td-large">
    <div class="ui container ">
        <form action="#" method="post" class="ui form" th:action="@{/admin/types/addType}">
            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">名称</label>
                    <input type="text" name="name" placeholder="分类名称">
                </div>
            </div>
            <div class="ui right aligned container">
                <button class="ui button" type="button" onclick="window.history.go(-1)">返回</button><!-- onclick="window.history.go(-1)" 意为点击时返回上一个页面-->
                <button class="ui button teal submit">提交</button>
            </div>
            <div class="ui error message"></div>
        </form>
    </div>
</div>

<br>
<br>
<br>
<!--底部-->
<footer  th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-td-max">
    <div class="ui center aligned container">
        <!--semantic UI 将一个块划分为16份,divided属性是每列间的分割线 grid布局组件-->
        <div class="ui  inverted divided stackable grid">
            <!--一个column是一列，共分为4列-->
            <div class="three wide column ">
                <div class="ui inverted   link item">
                    <div class="item ">
                        <img src="../../static/images/20200515232857.jpg" class=" ui rounded image centered aligned" style="width: 100px ">
                    </div>
                </div>
            </div>
            <div class="three wide column ">
                <h4 class="ui inverted header ">最新博客</h4>
                <div class="ui inverted link list">
                    <a href ="#" class="item">小米10 Pro</a>
                    <a href ="#" class="item">MIUI 12</a>
                    <a href ="#" class="item">超级壁纸</a>
                </div>
            </div>
            <div class="three wide column ">
                <h4 class="ui inverted header m-opacity-mini">最新博客</h4>
                <div class="ui inverted link list">
                    <a href ="#" class="item">小米10 Pro</a>
                    <a href ="#" class="item">MIUI 12</a>
                    <a href ="#" class="item">超级壁纸</a>
                </div>
            </div>
            <div class="seven wide column ">
                <h4 class="ui inverted header">最新博客</h4>
                <p>中新网客户端北京5月13日电(记者 李金磊)2020年养老金上涨进入落地期</p>
            </div>
        </div>
        <div class="ui inverted section divider">
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Designed, developed, and maintained by:</p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--markdown插件js-->
<script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown();
    //表单校验
    $('.ui.form').form({
        fields :{
            name : {
                identifier : 'name',
                rules :[{
                    type :'empty',
                    prompt :'请输入分类名称！'
                }]
            }
        }
    });

</script>
</body>
</html>