<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.holic.blog.mapper.AdminMapper">
    <resultMap id="admin" type="com.holic.blog.entity.CommonUser">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
        <result column="passWord" jdbcType="VARCHAR" property="passWord"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
    </resultMap>
    <insert id="saveCommonUserInfo" parameterType="com.holic.blog.entity.CommonUser">
        insert into t_admin(
        nickName,userName,passWord,salt,email,type,avatar,createDate,updateDate
        ) values (
        #{nickName},#{userName},#{passWord},#{salt},#{email},#{type},#{avatar},#{createDate},#{updateDate}
        )
    </insert>

    <select id="checkAdminByUserNameAndPassWord" resultMap="admin">
        select * from t_admin where userName=#{userName} and passWord=#{passWord}
    </select>

    <select id="getSaltByUserName" resultType="string">
        select salt from t_admin where userName=#{userName}
    </select>

</mapper>