<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.holic.blog.mapper.TypeMapper">
    <resultMap id="type" type="com.holic.blog.entity.Type">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <insert id="saveType" parameterType="com.holic.blog.entity.Type" useGeneratedKeys="true" keyProperty="id">
        insert into t_type(name) values (#{name})
    </insert>
    
    <select id="getTypeById" resultMap="type">
        select * from t_type where id=#{id}
    </select>

    <select id="getTypeByName" resultMap="type">
        select * from t_type where name=#{name}
    </select>

    <update id="updateTypeById" parameterType="com.holic.blog.entity.Type">
      update t_type
      <set>
          name =#{name,jdbcType=VARCHAR}
      </set>
        where id=#{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteTypeById" >
      delete from t_type where id=#{id}
    </delete>

    <select id="findAllType" resultMap="type">
        select * from t_type
    </select>

    <select id="findAllTypeForViewer" resultType="com.holic.blog.entity.example.ShowTypeForViewer">
        SELECT b.name typeName,a.blogTypeId typeId,COUNT(a.id) countBlog FROM t_blog a,t_type b WHERE a.blogTypeId=b.id
        GROUP BY a.blogTypeId,b.name ORDER BY COUNT(a.id) DESC
    </select>

    <select id="findBlogsByTypeId" resultType="com.holic.blog.entity.example.ShowBlogForViewer">
        SELECT a.id,a.title,a.description,b.nickName adminNickName,b.avatar adminAvatar,a.updateDate,a.viewTimes,
          a.picUrl,c.name typeName,c.id typeId
        FROM t_blog a,t_admin b,t_type c
        WHERE a.blogAdminId=b.id and a.blogTypeId=c.id and a.published='on' and a.blogTypeId=#{id}
    </select>


</mapper>