<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head  th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>500</title>
</head>
<body>
<nav th:replace="_fragments :: nav(0) "></nav>
<br>
<br>
<br>
<div class="m-container m-padded-td-large">
    <div class="ui error message m-padded-td-big">
        <div class="ui container">
            <h2>500</h2>
            <p>对不起，系统发生内部错误，请稍后再试</p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<footer th:replace="_fragments :: footer"></footer>
</body>
</html>