<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head  th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>错误</title>
</head>
<body>
<nav th:replace="_fragments :: nav(0) "></nav>
<br>
<br>
<br>
<div class="m-container m-padded-td-large">
    <div class="ui error message m-padded-td-big">
        <div class="ui container">
            <h2>错误</h2>
            <p>对不起，页面出现错误，请稍后再试</p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<footer th:replace="_fragments :: footer"></footer>
    <div><!--这个div中的错误信息不会展示在页面，查看源代码才能看到-->
        <div th:utext="'&lt;!--'" th:remove="tag"></div>
        <div th:utext="'Failed RequestUrl : '+${url}" th:remove="tag"></div>
        <div th:utext="'Exception message : '+${exception.message}" th:remove="tag"></div>
        <ul th:remove="tag">
            <li th:each="st : ${exception.stackTrace}" th:remove="tag"><span th:utext="${st}" th:remove="tag"></span></li>
        </ul>
        <div th:utext="'--&gt;'" th:remove="tag"></div>
    </div>
</body>
</html>