body{
    background: url("../images/blue-snow.png");
}
.m-padded-all{
    padding-top: 3em !important;
    padding-bottom: 3em!important;
    padding-left: 3em!important;
    padding-right: 3em!important;
}

.m-padded-mini{
    padding: 0.2em !important;
}

.m-padding-footer{
    padding-top: 1em !important;
}

.m-padded-middle{
    padding: 1em !important;
}

.m-padded-td-mini{
/*一个em是14个像素*/
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.m-padded-td-little{
    padding-top: 1em !important;
    padding-bottom: 0.5em !important;
}
/*增加块上下的宽度*/
.m-padded-td-large{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.m-padded-td-big{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}

.m-padded-td-huge{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}

/*详情页字符间距*/
.m-padded-landr-responsive{
    padding-left: 3em !important;
    padding-right: 3em !important;
}

/*字体设置*/
.m-text-thin{
    font-weight: 300 !important;
}
/*字号*/
.m-text-size{
    font-size: small !important;
}
/*段落属性*/
.m-text{
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8;
}

.m-text-spaced{
    letter-spacing: 1px !important;
}

.m-text-lined{
    line-height: 1.8;
}

.m-opacity-mini{
    opacity: 0.8 !important;
}
.m-opacity-tiny{
    opacity: 0.5 !important;
}
/*展示属性*/
.m-inline-block{
    display: inline-block !important;
}
/*外部间隔*/
.m-margin-tb-mini{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-top{
    margin-top: 2.5em !important;
}
.m-margin-bottom-mini{
    margin-bottom: 0.5em !important;
}
.m-padded-td-max{
    margin-top: 2rem !important;
}

.m-padded-bottom{
    margin-bottom: 2rem !important;
}
/*主页*/
.m-container{
    max-width: 72em !important;
    margin: auto !important;
}
/*博客详情页*/
.m-container-blog{
    max-width: 60em !important;
    margin: auto !important;
}
/*后台首页*/
.m-container-admin{
    max-width: 48em !important;
    margin: auto !important;
}

.m-black{
    color: #333 !important;
    font-weight: 300;
}

.m-top-right{
    position: absolute;
    top: 0;
    right: 0;
}

.m-fixed{
    position: fixed !important;
    z-index: 1!important;
}

.m-right-bottom{
    bottom: 0 !important;
    right: 0 !important;
}
/*宽屏不展示*/
.m-mobile-show{
    display: none !important;
}
/*导航栏阴影*/
.m-shadow{
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.3) !important;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3) !important;
}

/*手机端配置*/
@media screen and (max-width: 768px){
    .m-mobile-hide{
        display: none !important;
    }
    /*引用已定义的样式，被引用的要在前边，不然不起作用*/
    .m-mobile-show{
        display: block !important;
    }
    .m-padded-landr-responsive{
        padding-left: 0em !important;
        padding-right: 0em !important;
    }
    .m-mobile-wide{
        width: 100% !important;
    }
    .m-mobile-clear{
        padding-left: 0em !important;
        padding-right: 0em !important;
    }
}

/*目录适配*/
.toc-list li a{
    display: block !important;
    padding: 4px 0!important;
    font-weight: 300!important;
}

.toc-list li a:hover{
    color: teal;
}

.toc-link::before{
    height: 20px;!important;
}

